{% extends '::header.html.twig' %}

{% block content %}
    <div style="text-align: center; margin-top:50px;">
        <h1>Система за управление на задачи</h1>
        <p> Приложение позволяващо лесно и удобно разграфяване на задачите</p>
        <p> Моля влезте в приложението, за да създадете нова задача или да видитите текущите</p>
    </div>
    <div style="text-align: center">
        <h1>Система за управление на задачи</h1>
        <p> Приложение позволяващо лесно и удобно разграфяване на задачите</p>
        <p> Моля влезте в приложението, за да създадете нова задача или да видитите текущите</p>
    </div>
    <div style="text-align: center">
        <h1>Система за управление на задачи</h1>
        <p> Приложение позволяващо лесно и удобно разграфяване на задачите</p>
        <p> Моля влезте в приложението, за да създадете нова задача или да видитите текущите</p>
    </div>
    <div style="text-align: center">
        <h1>Система за управление на задачи</h1>
        <p> Приложение позволяващо лесно и удобно разграфяване на задачите</p>
        <p> Моля влезте в приложението, за да създадете нова задача или да видитите текущите</p>
    </div>
    <div style="text-align: center">
        <h1>Система за управление на задачи</h1>
        <p> Приложение позволяващо лесно и удобно разграфяване на задачите</p>
        <p> Моля влезте в приложението, за да създадете нова задача или да видитите текущите</p>
    </div>
    <div style="text-align: center">
        <h1>Система за управление на задачи</h1>
        <p> Приложение позволяващо лесно и удобно разграфяване на задачите</p>
        <p> Моля влезте в приложението, за да създадете нова задача или да видитите текущите</p>
    </div>
    <div style="text-align: center">
        <h1>Система за управление на задачи</h1>
        <p> Приложение позволяващо лесно и удобно разграфяване на задачите</p>
        <p> Моля влезте в приложението, за да създадете нова задача или да видитите текущите</p>
    </div>
    <div style="text-align: center">
        <h1>Система за управление на задачи</h1>
        <p> Приложение позволяващо лесно и удобно разграфяване на задачите</p>
        <p> Моля влезте в приложението, за да създадете нова задача или да видитите текущите</p>
    </div>
    <div style="text-align: center">
        <h1>Система за управление на задачи</h1>
        <p> Приложение позволяващо лесно и удобно разграфяване на задачите</p>
        <p> Моля влезте в приложението, за да създадете нова задача или да видитите текущите</p>
    </div>
{% endblock %}
